html, body							{ height:100% !important; min-height:100%; }
body, form							{ padding:0; margin:0; }
body								{ background:none repeat scroll 0 0 #4C5566; }
div, input, textarea, select		{ position:relative; font-family:arial; font-size:12px; color:#737373; }
input, textarea, select				{ font-size:12px; color:#000; font-family:arial; border:1px solid #7F9DB9; vertical-align:middle; background:#fff; margin:0; }

a									{ color:#575757; outline:none; text-decoration:none; }
a:hover								{ color:#7D7D7D; text-decoration:underline; }
h1, h2, h3, h4, h5					{ margin:0; padding:0; font-weight:normal; }

#start					{ width:100%; min-width:1003px; min-height:600px; height:100%; }
#bef-main				{ width:100%; min-height:100%; overflow:hidden; }
#main					{ width:100%; height:509px; position:absolute; margin:0 auto; top:50%; }
.form					{ width:310px; height:320px; background-color: #FFFFFF; margin:100px auto 0 auto; overflow:auto; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); border-color: #EBEFF6; border-radius: 2px;}
.form .logo				{ height:58px; margin:23px auto 43px; text-align: center; }
.form table				{ border-collapse:collapse; width: 100%; }
.form td				{ padding:10px 0 10px 0px; font-size:14px; font-weight:bold; color:#010101; }
.form input				{padding: 0; }
.form input.txt			{ width:180px; }
.form select			{ width:192px;  }
.radio, .checkbox { display: block; margin-bottom: 10px; margin-top: 10px; min-height: 20px; padding-left: 20px; vertical-align: middle;}
.form span.but			{ background:url(images/button-2.png) 100% 0 no-repeat; padding:0 5px 0 0; display:inline-block; }
.form span.but button	{ background:url(images/button-1.png) no-repeat; color:#fff; border:0; height:31px; padding:0 10px 0 15px; margin:0 0 0 10px;}

form { padding: 0 10px;}

.tac { text-align: center;}
.tar { text-align: right;}
.tal { text-align: left;}

.m-t-xs {margin: -60px 11px;}
.pull-right { Float: right;}

#foot					{ width:955px; text-align:right; margin:0 auto; padding-top:13px; }

ul.errors               { list-style-type: none; padding:0; margin:0; font-size: 0.7em;}

div.msg a.close { display: none;}
div.msg h5 { font-size: 15px; font-weight: bold; color: #000; }

div.form .info h3,
div.form .error h3,
div.form .success h3,
div.form .info p,
div.form .error p,
div.form .success p
{
    margin: 0 10px;
    color: red;
    font-size: 0.8em;
    text-align: center;
}
*, *:before, *:after {-moz-box-sizing: border-box;}

.form-control, .form-control:focus { -webkit-box-shadow: none; box-shadow: none;}
.form-control, .form-control:focus {box-shadow: none;}
.form-control { border-color:#D8DDE5; }
.form-control:focus {
  -webkit-box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset, rgba(102, 175, 233, 0.6) 0 0 8px;
  border-color:#66AFE9;
  box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset, rgba(102, 175, 233, 0.6) 0 0 8px;
  outline:0;
}
.form-control {
  -webkit-box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset;
  -webkit-transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color:#FFFFFF;
  border:1px solid #CCCCCC;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset;
  color:#555555;
  display:block;
  font-size:14px;
  height:34px;
  line-height:1.428571429;
  transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align:middle;
  width:100%;
}

.jGrowl-notification .message {
    text-align:left;;
    font-size:0.95em;
    padding-left:36px;
    height:48px;
}

#jGrowl div.jGrowl-error {
    background-color:#fccac2;
}

#jGrowl div.jGrowl-error .message {
    color:#ac260f;
    background:transparent url('images/exclamation.png') top left no-repeat;
    position:relative;
}

#jGrowl div.jGrowl-success .message {
    color:#3c5a01;
    background:transparent url('images/accept.png') top left no-repeat;
    position:relative;
}

#jGrowl div.jGrowl-success {
    background-color:#efffb9;
}
